{% extends 'base.html' %}

{% block content %}
<form class="site-form has-text-centered has-background-light" method="post" enctype="multipart/form-data" style="margin-top: 100px">
   
    
    <h1 class="title is-size-2 has-text-centered"> Edit comment</h1>
    {%csrf_token%}
    {{form}}
    <div class="has-text-centered mt-4">
    <button type="submit" class="button is-pripary">Submit</button>
    <br>
    <a href="{%  url 'article_detail' article.slug %}" class="button is-danger">Back</a>
</div>
</form>

{% endblock %}